/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a:-webkit-any-link {
  color: initial;
  cursor: pointer;
  text-decoration: none;
}
  
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
  
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
  
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
 *,
 *::before,
 *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
 }
}

:root {
    box-sizing: content-box;
}

body {
    font-size: 1rem;
    line-height: 1.6;
}

.container {
    width: min(90%, 60rem);
    margin: 0 auto;
}

.split-x {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * + * {
        margin:  0 1rem 0 1rem;
    }
}

