/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  box-sizing: content-box;
}

body {
  font-size: 1rem;
  line-height: 1.6;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.content {
  margin: 2rem auto;
}

.split-x {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.split-x > * + * {
  margin: 0 1rem;
}

.split-y {
  display: flex;
  flex-direction: column;
}
.split-y > * + * {
  margin: 0.25rem 0;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000;
}

p,
a,
ul,
span,
input,
label,
button,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

h1, h2, h3, h4, h5 {
  margin: 1.25rem 0;
  color: #1b1464;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.802rem;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1b1464;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

small, .text_small {
  font-size: 0.889rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small, .text_small {
    font-size: 0.8rem;
  }
}
a,
p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  a,
p {
    font-size: 1.1rem;
  }
}
header {
  background: #1b1464;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0;
}
header .container {
  justify-content: space-between;
}
header .header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo__img {
  width: 4em;
}
header .header__logo__text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffff;
  margin: 0;
}
header .top-menu {
  display: none;
}
header .top-menu a {
  color: #ffff;
}
header .top-menu a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  header .top-menu {
    display: flex;
  }
}

.category__div {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 400px;
}
.category__div__img {
  position: relative;
  width: 100%;
  height: 50%;
}
.category__div__img:hover {
  opacity: 0.8;
}
.category__div__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.category__div__img--link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000080;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category__div__img--link:hover {
  opacity: 0.8;
}
.category__div__img--link a {
  position: absolute;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 30px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.category__div__img--link a:hover {
  background-color: #ffff;
  color: black;
}
.category__div__text h2 {
  margin: 1.5rem 0 1rem 0;
}

@media (min-width: 768px) {
  .category__div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 250px;
    margin-bottom: 3rem;
  }
  .category__div__img {
    width: 50%;
    height: 100%;
  }
  .category__div__text {
    width: 45%;
  }
  .category__div__text h2 {
    margin: 0 0 0.5rem 0;
  }

  .category__div__img--left {
    order: 2;
  }

  .category__div__img--text {
    order: 1;
  }
}
.section:nth-child(-n+2) {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: #1b1464 1px solid;
}

h2 {
  font-weight: 600;
}

.brand {
  width: 100%;
}
.brand__img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.brands__container {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .brands__container {
    display: flex;
    justify-content: space-between;
  }

  .brand {
    width: 48%;
  }
}
.post-image {
  width: 100%;
}
.post-image__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  padding: 2rem;
  background: #1b1464;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffff;
}

.footer__cols {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__cols__title, .footer__cols__title--mt {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  text-align: center;
}
.footer__cols__title--mt {
  margin: 0.5rem 0;
}
.footer__cols__col {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer__cols__col .footer__logo,
.footer__cols__col .footer__payment-img {
  width: 15rem;
}
.footer__cols p {
  color: #ffff;
}
.footer__cols a {
  color: #ffff;
}
.footer__cols a:hover {
  text-decoration: underline;
}

@media (min-width: 960px) {
  .footer__cols {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer__cols__col {
    align-items: flex-start;
    width: 35%;
  }
  .footer__cols__col .footer__logo {
    margin-top: 0.5rem;
    width: 85%;
  }
  .footer__cols__col .footer__payment-img {
    width: 80%;
  }
  .footer__cols__title {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .footer__cols__title--mt {
    text-align: left;
    margin: 0.5rem 0;
  }
}
.footer__legal {
  margin-top: 1.5rem;
  padding: 0.75rem 0;
  border-top: solid #ffff 1px;
}
.footer__legal__ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__legal__ul a {
  color: #ffff;
}
.footer__legal__ul a:hover {
  text-decoration: underline;
}

@media (min-width: 960px) {
  .footer__legal__ul {
    flex-direction: row;
  }
}
