.hero {
    height: 550px;
    width: 100%;
    background: url('images/hero-image.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        color: #ffff
        ;
    }

}

.content {
    height: 80vh;
}