header {
    background:$light;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: .25);
    padding: 1rem 0;

    .logo {
        width: 2rem;
    }

    .container {
        justify-content: space-between;
    }

    .top-menu {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }
}
